.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Crashlytics.framework

# Xcode
#
*.xcbkptlist
Breakpoints_*.*
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
# Pods/
Fabric.framework/Headers/Fabric.h
Fabric.framework/Modules/module.modulemap
Fabric.framework/Resources/Info.plist
Fabric.framework/Versions/Current/Fabric
Fabric.framework/Versions/Current/Headers/Fabric.h
Fabric.framework/Versions/Current/Modules/module.modulemap
Fabric.framework/Versions/Current/Resources/Info.plist
FacebookSDK.framework/Headers/FacebookSDK.h
FacebookSDK.framework/Headers/FBAccessTokenData.h
FacebookSDK.framework/Headers/FBAppCall.h
FacebookSDK.framework/Headers/FBAppEvents.h
FacebookSDK.framework/Headers/FBAppLinkData.h
FacebookSDK.framework/Headers/FBAppLinkResolver.h
FacebookSDK.framework/Headers/FBCacheDescriptor.h
FacebookSDK.framework/Headers/FBColor.h
FacebookSDK.framework/Headers/FBDialogs.h
FacebookSDK.framework/Headers/FBDialogsData.h
FacebookSDK.framework/Headers/FBDialogsParams.h
FacebookSDK.framework/Headers/FBError.h
FacebookSDK.framework/Headers/FBErrorUtility.h
FacebookSDK.framework/Headers/FBFrictionlessRecipientCache.h
FacebookSDK.framework/Headers/FBFriendPickerViewController.h
FacebookSDK.framework/Headers/FBGraphLocation.h
FacebookSDK.framework/Headers/FBGraphObject.h
FacebookSDK.framework/Headers/FBGraphObjectPickerViewController.h
FacebookSDK.framework/Headers/FBGraphPerson.h
FacebookSDK.framework/Headers/FBGraphPlace.h
FacebookSDK.framework/Headers/FBGraphUser.h
FacebookSDK.framework/Headers/FBInsights.h
FacebookSDK.framework/Headers/FBLikeControl.h
FacebookSDK.framework/Headers/FBLinkShareParams.h
FacebookSDK.framework/Headers/FBLoginTooltipView.h
FacebookSDK.framework/Headers/FBLoginView.h
FacebookSDK.framework/Headers/FBNativeDialogs.h
FacebookSDK.framework/Headers/FBOpenGraphAction.h
FacebookSDK.framework/Headers/FBOpenGraphActionParams.h
FacebookSDK.framework/Headers/FBOpenGraphActionShareDialogParams.h
FacebookSDK.framework/Headers/FBOpenGraphObject.h
FacebookSDK.framework/Headers/FBPeoplePickerViewController.h
FacebookSDK.framework/Headers/FBPhotoParams.h
FacebookSDK.framework/Headers/FBPlacePickerViewController.h
FacebookSDK.framework/Headers/FBProfilePictureView.h
FacebookSDK.framework/Headers/FBRequest.h
FacebookSDK.framework/Headers/FBRequestConnection.h
FacebookSDK.framework/Headers/FBSDKMacros.h
FacebookSDK.framework/Headers/FBSession.h
FacebookSDK.framework/Headers/FBSessionTokenCachingStrategy.h
FacebookSDK.framework/Headers/FBSettings.h
FacebookSDK.framework/Headers/FBShareDialogParams.h
FacebookSDK.framework/Headers/FBShareDialogPhotoParams.h
FacebookSDK.framework/Headers/FBTaggableFriendPickerViewController.h
FacebookSDK.framework/Headers/FBTestSession.h
FacebookSDK.framework/Headers/FBTestUserSession.h
FacebookSDK.framework/Headers/FBTestUsersManager.h
FacebookSDK.framework/Headers/FBTooltipView.h
FacebookSDK.framework/Headers/FBUserSettingsViewController.h
FacebookSDK.framework/Headers/FBViewController.h
FacebookSDK.framework/Headers/FBWebDialogs.h
FacebookSDK.framework/Headers/NSError+FBError.h
FacebookSDK.framework/resources/FacebookSDKResources.bundle.README
FacebookSDK.framework/resources/Info.plist
FacebookSDK.framework/resources/FBUserSettingsViewResources.bundle/Contents/Resources/en.lproj/Localizable.strings
FacebookSDK.framework/resources/FBUserSettingsViewResources.bundle/Contents/Resources/he.lproj/Localizable.strings
FacebookSDK.framework/resources/FBUserSettingsViewResources.bundle/images/facebook-logo.png
FacebookSDK.framework/resources/FBUserSettingsViewResources.bundle/images/facebook-logo@2x.png
FacebookSDK.framework/resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPadLandscape.jpg
FacebookSDK.framework/resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPadLandscape@2x.jpg
FacebookSDK.framework/resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPadPortrait.jpg
FacebookSDK.framework/resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPadPortrait@2x.jpg
FacebookSDK.framework/resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPhonePortrait.jpg
FacebookSDK.framework/resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPhonePortrait@2x.jpg
FacebookSDK.framework/resources/FBUserSettingsViewResources.bundle/images/silver-button-normal.png
FacebookSDK.framework/resources/FBUserSettingsViewResources.bundle/images/silver-button-normal@2x.png
FacebookSDK.framework/resources/FBUserSettingsViewResources.bundle/images/silver-button-pressed.png
FacebookSDK.framework/resources/FBUserSettingsViewResources.bundle/images/silver-button-pressed@2x.png
FacebookSDK.framework/Versions/A/DeprecatedHeaders/FBTestUserSession.h
FacebookSDK.framework/Versions/A/DeprecatedHeaders/FBTestUsersManager.h
FacebookSDK.framework/Versions/A/Headers/FBTestUserSession.h
FacebookSDK.framework/Versions/A/Headers/FBTestUsersManager.h
FacebookSDK.framework/Versions/Current/FacebookSDK
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/Facebook.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FacebookSDK.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBAccessTokenData.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBAppCall.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBAppEvents.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBAppLinkData.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBAppLinkResolver.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBCacheDescriptor.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBColor.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBConnect.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBDialog.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBDialogs.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBDialogsData.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBDialogsParams.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBError.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBErrorUtility.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBFrictionlessRecipientCache.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBFrictionlessRequestSettings.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBFriendPickerViewController.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBGraphLocation.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBGraphObject.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBGraphObjectPickerViewController.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBGraphPerson.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBGraphPlace.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBGraphUser.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBInsights.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBLikeControl.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBLinkShareParams.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBLoginDialog.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBLoginTooltipView.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBLoginView.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBNativeDialogs.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBOpenGraphAction.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBOpenGraphActionParams.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBOpenGraphActionShareDialogParams.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBOpenGraphObject.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBPeoplePickerViewController.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBPhotoParams.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBPlacePickerViewController.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBProfilePictureView.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBRequest.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBRequestConnection.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBSDKMacros.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBSession.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBSessionManualTokenCachingStrategy.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBSessionTokenCachingStrategy.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBSettings.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBShareDialogParams.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBShareDialogPhotoParams.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBTaggableFriendPickerViewController.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBTestSession.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBTestUserSession.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBTestUsersManager.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBTooltipView.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBUserSettingsViewController.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBViewController.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBWebDialogs.h
FacebookSDK.framework/Versions/Current/DeprecatedHeaders/NSError+FBError.h
FacebookSDK.framework/Versions/Current/Headers/FacebookSDK.h
FacebookSDK.framework/Versions/Current/Headers/FBAccessTokenData.h
FacebookSDK.framework/Versions/Current/Headers/FBAppCall.h
FacebookSDK.framework/Versions/Current/Headers/FBAppEvents.h
FacebookSDK.framework/Versions/Current/Headers/FBAppLinkData.h
FacebookSDK.framework/Versions/Current/Headers/FBAppLinkResolver.h
FacebookSDK.framework/Versions/Current/Headers/FBCacheDescriptor.h
FacebookSDK.framework/Versions/Current/Headers/FBColor.h
FacebookSDK.framework/Versions/Current/Headers/FBDialogs.h
FacebookSDK.framework/Versions/Current/Headers/FBDialogsData.h
FacebookSDK.framework/Versions/Current/Headers/FBDialogsParams.h
FacebookSDK.framework/Versions/Current/Headers/FBError.h
FacebookSDK.framework/Versions/Current/Headers/FBErrorUtility.h
FacebookSDK.framework/Versions/Current/Headers/FBFrictionlessRecipientCache.h
FacebookSDK.framework/Versions/Current/Headers/FBFriendPickerViewController.h
FacebookSDK.framework/Versions/Current/Headers/FBGraphLocation.h
FacebookSDK.framework/Versions/Current/Headers/FBGraphObject.h
FacebookSDK.framework/Versions/Current/Headers/FBGraphObjectPickerViewController.h
FacebookSDK.framework/Versions/Current/Headers/FBGraphPerson.h
FacebookSDK.framework/Versions/Current/Headers/FBGraphPlace.h
FacebookSDK.framework/Versions/Current/Headers/FBGraphUser.h
FacebookSDK.framework/Versions/Current/Headers/FBInsights.h
FacebookSDK.framework/Versions/Current/Headers/FBLikeControl.h
FacebookSDK.framework/Versions/Current/Headers/FBLinkShareParams.h
FacebookSDK.framework/Versions/Current/Headers/FBLoginTooltipView.h
FacebookSDK.framework/Versions/Current/Headers/FBLoginView.h
FacebookSDK.framework/Versions/Current/Headers/FBNativeDialogs.h
FacebookSDK.framework/Versions/Current/Headers/FBOpenGraphAction.h
FacebookSDK.framework/Versions/Current/Headers/FBOpenGraphActionParams.h
FacebookSDK.framework/Versions/Current/Headers/FBOpenGraphActionShareDialogParams.h
FacebookSDK.framework/Versions/Current/Headers/FBOpenGraphObject.h
FacebookSDK.framework/Versions/Current/Headers/FBPeoplePickerViewController.h
FacebookSDK.framework/Versions/Current/Headers/FBPhotoParams.h
FacebookSDK.framework/Versions/Current/Headers/FBPlacePickerViewController.h
FacebookSDK.framework/Versions/Current/Headers/FBProfilePictureView.h
FacebookSDK.framework/Versions/Current/Headers/FBRequest.h
FacebookSDK.framework/Versions/Current/Headers/FBRequestConnection.h
FacebookSDK.framework/Versions/Current/Headers/FBSDKMacros.h
FacebookSDK.framework/Versions/Current/Headers/FBSession.h
FacebookSDK.framework/Versions/Current/Headers/FBSessionTokenCachingStrategy.h
FacebookSDK.framework/Versions/Current/Headers/FBSettings.h
FacebookSDK.framework/Versions/Current/Headers/FBShareDialogParams.h
FacebookSDK.framework/Versions/Current/Headers/FBShareDialogPhotoParams.h
FacebookSDK.framework/Versions/Current/Headers/FBTaggableFriendPickerViewController.h
FacebookSDK.framework/Versions/Current/Headers/FBTestSession.h
FacebookSDK.framework/Versions/Current/Headers/FBTestUserSession.h
FacebookSDK.framework/Versions/Current/Headers/FBTestUsersManager.h
FacebookSDK.framework/Versions/Current/Headers/FBTooltipView.h
FacebookSDK.framework/Versions/Current/Headers/FBUserSettingsViewController.h
FacebookSDK.framework/Versions/Current/Headers/FBViewController.h
FacebookSDK.framework/Versions/Current/Headers/FBWebDialogs.h
FacebookSDK.framework/Versions/Current/Headers/NSError+FBError.h
FacebookSDK.framework/Versions/Current/Resources/FacebookSDKResources.bundle.README
FacebookSDK.framework/Versions/Current/Resources/Info.plist
FacebookSDK.framework/Versions/Current/Resources/FBUserSettingsViewResources.bundle/Contents/Resources/en.lproj/Localizable.strings
FacebookSDK.framework/Versions/Current/Resources/FBUserSettingsViewResources.bundle/Contents/Resources/he.lproj/Localizable.strings
FacebookSDK.framework/Versions/Current/Resources/FBUserSettingsViewResources.bundle/images/facebook-logo.png
FacebookSDK.framework/Versions/Current/Resources/FBUserSettingsViewResources.bundle/images/facebook-logo@2x.png
FacebookSDK.framework/Versions/Current/Resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPadLandscape.jpg
FacebookSDK.framework/Versions/Current/Resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPadLandscape@2x.jpg
FacebookSDK.framework/Versions/Current/Resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPadPortrait.jpg
FacebookSDK.framework/Versions/Current/Resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPadPortrait@2x.jpg
FacebookSDK.framework/Versions/Current/Resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPhonePortrait.jpg
FacebookSDK.framework/Versions/Current/Resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPhonePortrait@2x.jpg
FacebookSDK.framework/Versions/Current/Resources/FBUserSettingsViewResources.bundle/images/silver-button-normal.png
FacebookSDK.framework/Versions/Current/Resources/FBUserSettingsViewResources.bundle/images/silver-button-normal@2x.png
FacebookSDK.framework/Versions/Current/Resources/FBUserSettingsViewResources.bundle/images/silver-button-pressed.png
FacebookSDK.framework/Versions/Current/Resources/FBUserSettingsViewResources.bundle/images/silver-button-pressed@2x.png
Firebase.framework/Headers/FAuthData.h
Firebase.framework/Headers/FAuthType.h
Firebase.framework/Headers/FDataSnapshot.h
Firebase.framework/Headers/FEventType.h
Firebase.framework/Headers/Firebase.h
Firebase.framework/Headers/FirebaseServerValue.h
Firebase.framework/Headers/FMutableData.h
Firebase.framework/Headers/FQuery.h
Firebase.framework/Headers/FTransactionResult.h
Firebase.framework/Versions/current/Firebase
Firebase.framework/Versions/current/Headers/FAuthData.h
Firebase.framework/Versions/current/Headers/FAuthType.h
Firebase.framework/Versions/current/Headers/FDataSnapshot.h
Firebase.framework/Versions/current/Headers/FEventType.h
Firebase.framework/Versions/current/Headers/Firebase.h
Firebase.framework/Versions/current/Headers/FirebaseServerValue.h
Firebase.framework/Versions/current/Headers/FMutableData.h
Firebase.framework/Versions/current/Headers/FQuery.h
Firebase.framework/Versions/current/Headers/FTransactionResult.h
